/* Styles reset */
@font-face {
    font-family: "MuseoSans"; 
    src: url("../assets/font/MuseoSansCyrl.otf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "MuseoSans Light"; 
    src: url("../assets/font/MuseoSansCyrl100.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "MuseoSans Medium"; 
    src: url("../assets/font/MuseoSansCyrl300.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: "MuseoSans Medium"; 
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*Header */
.logo{
    box-sizing: border-box;
    padding: 26px 16px 26px 26px;
    height: 100px;
    position:relative;
    box-shadow: 1px 0px 0px 0px rgba(42, 42, 45, 0.5) inset,
                -1px 0px 0px 0px rgba(42, 42, 45, 0.5) inset;
}
.corner{
    position:absolute;
}
.corner:nth-child(1) {
    top:0;
    left:0;    
}
.corner:nth-child(2) {
    top:0;
    right:0;
}
.corner:nth-child(3) {
    bottom:0;
    right:0;
}
.corner:nth-child(4) {
    bottom:0;
    left:0;
}
.header{
    display: flex;
    align-items: center;
    box-sizing: border-box;

    background: rgba(21, 10, 1, 0.4);

    position: fixed;
    width: 100%;
    height: 100px;

    border: 1px solid #9893932a;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: inline-block;
}
.header--link{
    color: white;
    text-decoration: none;
    padding-bottom: 8px;
    margin-left: 40px;
    font-weight: 300;
    font-size: 16px;
}
.hamb--menu{
    display: none;
}

/* Main content */
.main{
    background: url('../assets/background.png') top center repeat;
    padding: 160px 0;
    height: 660px;
    box-sizing: border-box;
}
.main--content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*Main button*/
.main--button{
    margin-top: 87px;
    height: 35px;
    position:relative;
    display: inline-block;
}
.button--corner{
    position:absolute;
}
.button--corner:nth-child(1) {
    top:0;
    right:0;    
}
.button--corner:nth-child(2) {
    bottom:0;
    left:0;
}
.cta--button{
    box-sizing: border-box;
    background: rgba(21, 10, 1, 0.4);
    color: #d0d0d2;
    height: 35px;
    font-family: "MuseoSans Medium"; 
    font-size: 14px;
    font-weight: 100;
    padding: 5px 24px;
    border-image: linear-gradient(6deg, rgba(36,89,156,1) 2%, rgba(36,89,156,0) 31%, rgba(36,89,156,0) 64%, rgba(36,89,156,1) 98%);;
    border-image-slice: 1;
    cursor: pointer;
}
.btn-with-line{
    display: flex;
}
.dec--line{
    margin: 103px 0 0 10px;
}
.title{
    font-size: 58px;
    letter-spacing: 2px;
    font-family: "MuseoSans"; 
    font-weight: 700;
    margin-top: 50px;
}
.sub-title{
    font-size: 25px;
    display: block;
    font-weight: 300;

    background: linear-gradient(100deg, rgba(255,255,255,1) 10%, rgba(255,63,4,1) 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* advantages */

.advantages{
    display: flex;
    flex-direction: column;
}
.advantages--line{
    display: flex;
}
.advantage{
    box-sizing: border-box;
    width: 185px;
    height: 185px;
    color: #adadad;
    text-align: center;
    margin: 5px;
    padding: 30px 15px;
    cursor: pointer;
}
.description--text{
    font-size: 18px;
    margin-bottom: 22px;
    font-family: "MuseoSans Light";
    font-weight: 100;
}
.description--num{
    font-family: "MuseoSans"; 
    font-size: 60px;
}
.sub--num{
    font-size: 20px;
}
#advantage--1{
    background: linear-gradient(320deg, rgba(255,255,255,0.047) 0%, rgba(255,255,255,0) 45%);
}
#advantage--2{
    background: linear-gradient(50deg, rgba(255,255,255,0.047) 0%, rgba(255,255,255,0) 45%);
}
#advantage--3{
    background: linear-gradient(220deg, rgba(255,255,255,0.047) 0%, rgba(255,255,255,0) 45%);
}
#advantage--4{
    background: linear-gradient(130deg, rgba(255,255,255,0.047) 0%, rgba(255,255,255,0) 45%);
}

/* Interaction */
.advantage:hover{
    color: white;
}
#advantage--1:hover{
    background: linear-gradient(320deg, rgba(255,255,255,0.147) 0%, rgba(255,255,255,0) 45%);
    border-image: linear-gradient(320deg, rgba(255,255,255,0.247) 0%, rgba(255,255,255,0) 45%);
    border-image-slice: 1;
}
#advantage--2:hover{
    background: linear-gradient(50deg, rgba(255,255,255,0.147) 0%, rgba(255,255,255,0) 45%);
    border-image: linear-gradient(50deg, rgba(255,255,255,0.247) 0%, rgba(255,255,255,0) 45%);
    border-image-slice: 1;
}
#advantage--3:hover{
    background: linear-gradient(220deg, rgba(255,255,255,0.147) 0%, rgba(255,255,255,0) 45%);
    border-image: linear-gradient(220deg, rgba(255,255,255,0.247) 0%, rgba(255,255,255,0) 45%);
    border-image-slice: 1;
}
#advantage--4:hover{
    background: linear-gradient(130deg, rgba(255,255,255,0.147) 0%, rgba(255,255,255,0) 45%);
    border-image: linear-gradient(130deg, rgba(255,255,255,0.247) 0%, rgba(255,255,255,0) 45%);
    border-image-slice: 1;
}
.header--link:hover{
    color: #b1b1b1;
    border-bottom: 1px solid #3d3d3d;
}


/* Media queries */
@media (max-width: 1250px){
    .container{
        padding: 0 20px;
    }
    .dec--line{
        display: none;
    }
}
@media (max-width: 1100px){
    .header--link{
        margin-left: 30px;
    }
    .head{
        height: 60px;
    }
    .logo{
        height: 60px;
        padding: 14px 16px 24px 16px;
    }
    .logo--img{
        max-width: 200px;
    }
}
@media (max-width: 980px) {
    .header--link{
        margin-left: 25px;
        font-size: 14px;
    }  
    .logo--img{
        max-width: 180px;
    }
    .title{
        font-size: 45px;
    }
}
@media (max-width: 840px) {
    .hamb--menu{
        display: block;
    }
    .links{
        display: none;
    }
}
@media (max-width: 768px) {
    .main--content{
        flex-direction: column;
    }
    .advantages--line{
        margin: 30px auto 0;
    }
}
@media (max-width: 448px) {
    .advantages--line {
        flex-direction: column;
    }
}
